.footer-container{
    position: absolute;
    width: 100%;
    background-color: black;
    height: auto;
    display: flex;
    justify-content: space-between;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.footer-text{
    color: white;
    margin: 20px;
    
}

.contact-container{
    margin-top: 0px;

}

.contact-container ul{
    padding-left: 0
}
.contact-container ul li{
    list-style-type: none;
    font-size: small;
}
