*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', sans-serif;
}

.width{
  width: 80%;
  margin: auto;
  padding-bottom: 150px;
}
main{
  min-height: 80vh;

}

.holder{
  min-height: 100%;
  position: relative;

}

h1, h2{
  text-align: center;
}